NEXT_PUBLIC_NETWORK=studioDevnet
NEXT_PUBLIC_GENLAYER_RPC_URL=https://studio-next.genlayer.com/api
NEXT_PUBLIC_GENLAYER_CHAIN_ID=61997
NEXT_PUBLIC_GENLAYER_CHAIN_NAME=GenLayer Studio Next
NEXT_PUBLIC_GENLAYER_SYMBOL=GEN
NEXT_PUBLIC_CONTRACT_ADDRESS=0x65816369de04Bb5dfb366189f9967F8D13480CA8
NEXT_PUBLIC_TARGET_ADDRESS=0x2503Be8a3004Df2E3a9B30f7A2920382Ee636a5b
NEXT_PUBLIC_EXPLORER_ADDRESS_BASE=https://explorer-studio-dev.genlayer.com/address/
NEXT_PUBLIC_EXPLORER_TX_BASE=https://explorer-studio-dev.genlayer.com/tx/
